<a href="#comment" class="comment-anchor"></a>

<% if(theme.leancloud.comment) { %>
  <div class="comment-title"></div>
  <div id="vcomments"></div>
<% } %>

<% if(theme.gitalk.comment) { %>
  <div id="gitalk-container"></div>
<% } %>

<script defer>
  if( <%- theme.leancloud.comment %> ) {
    let path = getRealPath()
    new Valine({
      el: "#vcomments",
      appId: "<%- theme.leancloud.appid %>",
      appKey: "<%- theme.leancloud.appkey %>",
      notify: false,
      verify: false,
      avatar: "robohash",
      placeholder: "正确填写邮箱, 才能及时收到回复哦♪(^∇^*)",
      path
    });
  }
  if ( <%- theme.gitalk.comment %> ) {
    var gitalk = new Gitalk({
      clientID: "<%- theme.gitalk.clientID %>",
      clientSecret: "<%- theme.gitalk.clientSecret %>",
      repo: "<%- theme.gitalk.repo %>",
      owner: "<%- theme.gitalk.owner %>",
      admin: "<%- theme.gitalk.admin %>",
      id: location.pathname,
      distractionFreeMode: "<%- theme.gitalk.distractionFreeMode %>"
    })

    gitalk.render('gitalk-container')
  }
</script>